/*! Building Interfaces HTML5 template */




/* ==========================================================================
   Custom styles
   ========================================================================== */

body {
	background-color: aliceblue;
	font-family: arial, helvetica, san-serif;
	font-size: 16px;
}

.container {
	
}

.header {
	color: white;
		
}

.background {
	width: 960x;
	margin: auto;
	
	min-height: 200px;
}

.interests {
	font-family: arial, helvetica, san-serif;
	font-size: 13px;
}

p {
	margin-left: 10px;
}

h1 {
	margin: 0;
	padding: 10px;
	background-color: dodgerblue;
	text-align: center;
}

h2 {
	padding: 10px;
	
}

h3 {
	padding: 10px;
}
	

img {	
	width: 30%;
	height: 30%;
	float:right;
	margin: 20px;
	box-shadow: 5px 5px 3px grey;
	
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */


/* Mobile */
@media only screen and (min-width: 480px) {}
/* Intermediate */
@media only screen and (min-width: 768px) {}
/* Wide */
@media only screen and (min-width: 1140px) {}



/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}